.skills-container {
    position: fixed;
    left: 12.5%;
    width: 87.5%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.929);
    overflow: scroll;
    top: 0;
}

h1 {
    color: white;
}
