.main-container {
    position: fixed;
    left: 12.5%;
    width: 87.5%;
    background-color: rgba(10, 10, 10, 0.929);
}

.leftSide,
.rightSide {
    height: 100vh;
    width: 100%;
}

.rightSide {
    background-color: red;
}

.leftSide {
    background-color: blue;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 43.75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 12.5%;
    background-color: rgba(10, 10, 10, 0.929);
}

/* Control the right side */
.right {
    right: 0;
    background-color: rgba(10, 10, 10, 0.929);
    justify-content: center;
    align-items: center;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

.test {
    position: absolute;
}
