.work-item-right {
    height: 100%;
    float: right;
    display: grid;
    width: 45%;
    overflow: auto;
    padding: 10px;
}

.work-item-left {
    height: 100%;
    float: left;
    display: grid;
    width: 45%;
    overflow: auto;
    padding: 10px;
}

.work-card {
}
