.tagcloud {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 650;
    color: #1c0069;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagcloud--item:hover {
    color: white;
}
